/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Urbanist:wght@300;400;500;600;700&display=swap');

/* Setting the site variable such colour */
:root {
    --primary-color: #2E266D;
    --secondary-color: #DE1D8D;
    --light-seconday-colour: rgba(222, 29, 141, 0.5);
    --white-color: #fafafa;
    --overlay-color:rgba(250, 250, 250, 0.7);
    --tertiary-color: #FF735C;
    --light-tertiary-color:#ffd6d0;
}
/* Background colour */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--white-color);
  color: var(--primary-color);
  font-family: 'Urbanist', sans-serif;
  font-weight: 500;
}
/* Grows content to fit space if min-height is not reached */
/* Code taken from blog post on Dev by by Leonid Fenko, see README */
main {
  flex: 1 0 auto;
  margin-top: 71px;
}
/* Fonts styling for text */
h1, h2, h3, h4, h5, h6 .h-styling {
  font-family: 'Indie Flower', cursive;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 1px;
}
h1 {
  font-size: clamp(2rem, 2.5vw, 3rem);
  letter-spacing: 2px;
 }
h1::first-letter {
  font-size: 200%;
  font-weight: lighter;
}
h2 {
  font-size: clamp(1.75rem, 2.5vw, 2.25rem);
  letter-spacing: 1.75px;
}
h2::first-letter, .h2-larger, h3::first-letter {
  font-size: 175%;
  font-weight: lighter;
}
h3 {
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  letter-spacing: 1.5px;
}
p {
  font-size: clamp(1.125rem, 1.5vw, 1.25rem); 
}
a {
  color: var(--primary-color);
  font-weight: 600;
  text-decoration: none;
  }
 /* Classes for main styling elements */
hr {
border-color: var(--secondary-color);
border-width: thick;
opacity: 50%;
}
.blue-background {
  background-color: var(--primary-color);
}
.pink-line {
text-decoration: underline;
text-underline-offset: 4px;
text-decoration-color: var(--secondary-color);
}
.orange-line {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-color: var(--tertiary-color);
  }
.white-text {
  color: var(--white-color);
}
.font-indie {
  font-family: 'Indie Flower', cursive;
  letter-spacing: 1px;
}
.card {
  color: var(--primary-color);
}  
/* CTA button styling */
.button-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .25rem .75rem;
  border: none;
  border-radius: 15px;
  color: #fff;
  background-color: var(--secondary-color);
  font-weight: 600;
  font-size: clamp(1.125rem, 1.5vw, 1.25rem);  
  transition-timing-function: ease-in-out; 
}
.button-cta:active, .button-cta:focus, .button-cta:hover {
  background-color: var(--secondary-color);
}
.button-cta i {
  margin-left: 0.5rem;
  font-size: clamp(1.5rem, 1.5vw, 1.75rem);
}
/* Add animation for on hover */
.button-cta:hover i {
  transform: rotate(15deg);
  transition-duration: 3ms;
}
/* Header styling */
.header-logo {
  height: 55px;
  width: auto;
}
/* Nav Bar Styling */
#nav-list .nav-link {
  color: var(--primary-color);
}
.nav-item { 
  align-self: self-end;
}
/* Add different underline colour to nav item when link active */
.navbar-nav .nav-link.active {
  border-color: var(--secondary-color);
}
/* Navbar toggle icon styling - hamburger menu */
.navbar-toggler {
  position: relative;
  width:35px;
  height:35px;
  border: none;
  padding: 0;
  margin: 0;
  transition-timing-function: ease-in-out;
  z-index: 3;
}
.line-1, .line-3 {
  z-index: 98;
}
.toggler-icon {
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  margin: 5px 0;
  background-color: var(--primary-color);
}
/* Animation for Toggle menu icon on click */
.navbar-toggler[aria-expanded="true"]  .line-1 {
    background-color: var(--secondary-color);
    transform: translate(3px, 5px) rotate(45deg);
    transform-origin: center;
    transition-duration: .5s;  
}
.navbar-toggler[aria-expanded="true"] .line-2 {
  display: none;
}
.navbar-toggler[aria-expanded="true"] .line-3 {
  background-color: var(--secondary-color);
  transform: translate(3px, -5px) rotate(-45deg);
  transform-origin: center;
  transition-duration: .5s  
}
/* Footer Styling */
footer {
  padding: 1rem;
  background-color: var(--primary-color);
}
.footer-logo {
  width: auto;
  max-height: 50px;
  min-height: 40px;
}
.social-media-icons li {
  display: inline-block;
  font-size: 25px;
  padding: 0rem .5rem; 
}
.social-media-icons a {
  color: var(--white-color) 
}
/* Add on hoover effect when soicl media links touched */
.social-media-icons a:hover {
  color: var(--light-tertiary-color);
}
.copyright {
  color: var(--white-color);
  font-style: italic;
}
 /* Styling for when hero-section used */
.hero-content {
  position: relative;
  margin: 2rem;
}
.hero-content a {
  position: absolute;
  bottom: 0;
}
.hero-text {
  display: block;
  max-width: fit-content;
  padding: 10px;
  border-radius: 15px;
  background-color: var(--overlay-color);
  text-align: left;
}
.hero-text p {
  font-weight: 700;
}
/* Index page styling */
/* Index page hero image */
.hero-image{
  display: flex;
  height: 70vh;
  background: url(../images/hero-image-megatron.jpg) no-repeat center;
  background-size: cover;
}
/* UPS section */
.usps-section-img {
  max-width: 300px;
  max-height: 80px;
}
/* intro section */
.cta-wrapper {
  justify-content: space-between;
  width: fit-content;
  border-radius: 15px;
  background-color:var(--light-tertiary-color);
}
 /* testimonial section */
 /* Circle wrapper for images */
 .circle-img-wrapper-sm{
  overflow: hidden;
  width: 200px;
  aspect-ratio: 1/1;
  border: 2px solid var(--tertiary-color);
  border-radius: 50%; 
}
.quote {
  width: auto;
  color: var(--light-seconday-colour);
  font-size: xx-large;
}
.blockquote-footer {
  color: var(--primary-color);
  font-family: 'Indie Flower', cursive;
  font-size: clamp(1rem, 1vw, 1.125rem);
  font-weight: 600;
  letter-spacing: 1px;
}
.testimonial p {
  max-width: 350px;
}
/* About us page styling */
/* About Us hero image */
.aboutus-image{
  display: flex;
  height: 50vh;
  background: url(../images/group-of-cats.jpg) no-repeat center;
  background-size: cover;
}
/* Timeline styling */
/* Code used form W3 to create timeline line */
/* The actual timeline (the vertical ruler) */
.main-timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
/* The actual timeline (the vertical ruler) */
.main-timeline::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 6px;
  background-color: var(--secondary-color);  
}
/* The circles on the timeline */
.timeline::after {
  content: '';
  position: absolute;
  left: -9px;
  top: 15px;
  width: 25px;
  height: 25px;
  border: 4px solid var(--secondary-color); 
  border-radius: 50%;
  background-color: var(--white-color); 
  z-index: 1;
}
/* Container around content */
.timeline {
  padding: 10px 10px 10px 20px;
  position: relative;
}
/* Add orange border to all even timeline sections */
.timeline:nth-child(even) .card {
  border: 2px solid var(--tertiary-color);
}
.timeline-section {
  overflow: hidden;
  border-width: 0;
  background-color: inherit;
}
/* Staff carousel */
.staff-img-wrapper {
  display: contents;
}
.staff-img-display {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 80%;
}
.cat-ears{
  justify-self: center;
  width: 50%;
  grid-area: 1 / 1 / 1 / 1;
  z-index: 99;
}
.staff-img{
  justify-self: center;
  grid-area: 1 / 1 / 1 / 1;
}
.circle-img-wrapper{
  overflow: hidden;
  width: 50%;
  aspect-ratio: 1/1;
  border-radius: 50%;  
}
.carousel-arrow {
  width: 3rem;
  opacity: .75;
}
.left-arrow {
  display: inline-block;
  padding: 0.5rem;
  border: solid var(--secondary-color);
  border-width: 0 4px 4px 0;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.right-arrow {
display: inline-block;
padding: 0.5rem;
border: solid var(--secondary-color);
border-width: 0 4px 4px 0;
transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
}
/* Remove transition */
.carousel-item {
  transition: none;
}
/* Code from codepen see readme */
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}
/* Services & prices page styling */
/* style service cards */
.service-card {
  height: 100%;
  border-top: 20px solid;
}
.service-img {
  width: auto;
  height: 150px;
}
/* Set the border colours */
#daycare-card {
  border-color: var(--secondary-color);
}
#overnight-card {
  border-color: var(--tertiary-color);
}
#homevisit-card {
  border-color: var(--primary-color);
}
/* style list elements */
.service-list {
  color: var(--primary-color);
  font-size: clamp(1.125rem, 1.5vw, 1.25rem); 
  text-align: left;
  list-style-type: none;
}
.service-list > li {
  padding-bottom: .5em;
}
/* Add paw icon as bullet point */
.service-list li::before {
  content: "\f1b0";
  font: var(--fa-font-solid);
  padding: 0 10px 0 0;
  color: var(--light-seconday-colour);
}
/* Gallery page styling */

/* Meet the resident cats section */
.cat-profile-card {
  height: 100%;
  border-color: var(--tertiary-color);
}
.cat-portrait-wrapper {
  position: relative;
  width: 50%;
  aspect-ratio: 1/1;
}
/* Background for cat profile imagae */
.frame {
  position: absolute;
  bottom:0;
  left:5%;
  width: 90%;
  aspect-ratio: 1 /1 ;
  border-radius: 50%;
  background-color: var(--secondary-color);
  }
.img-background {
  position: absolute;
  bottom: 1%;
  left: 6%;
  overflow:hidden;
  width: 88%;
  aspect-ratio: 1 / 1;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  z-index: 2;
}
.img-background img {
   max-width: 100%;
   height:auto;
}
.gallery-images {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
/* Contact us page styling*/
.map-hr-line{
  margin-top: -.5rem;
}
.paw-divider {
  max-height: 50px;
}
/* Contact form styling */
.contact-form {
  max-width: 800px;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: clamp(1rem, 2.5vw, 1.1rem);
  z-index: 2;
}
/* Overide bootstrap styling */
.contact-checkbox:checked {
  background-color: var(--tertiary-color);
  border-color: var(--tertiary-color);
}
.contact-checkbox:focus, .form-input:focus {
  border-color: var(--tertiary-color);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(255, 115, 92, 0.25);
}
/* Other contact ways styling */
.other-ways {
  flex-direction: unset;
  max-width: 450px;
  color: var(--primary-color);
  font-size: clamp(1rem, 2.5vw, 1.1rem);
}
.other-ways-info {
  flex-direction: unset;
}
.other-ways  i {
  color: var(--secondary-color);
  font-size: 20px;
}
.opening-times td {
  padding-left: .5rem;
}
/* 404 page styling */
.error-img {
  max-height: 30vh;
}
.small-img {
  max-width: 280px;
}
/* Media Queries */
/* Break point md for bootstrap 768px everything below this screen size */
@media (max-width: 767.98px) {
  /* overides rows flex direction to columns for smaller screens */
  .row {
    flex-direction: column;
  }
  .hero-text{
    text-align: center;
  }
 .hero-content {
  position:relative;
  margin: 1rem;
}
.testimonial .col:first-child {
  background-color: var(--light-tertiary-color);
}
.other-ways{
  max-width: 250px;
}
.other-ways-info{
  flex-direction: unset;
}
}
/* media Query */
 /* Break point md for bootstrap 768px everything above this point*/
 @media screen and (min-width: 768px)  { 
  .testimonial .row:first-child .col:first-child {
    background-color: var(--light-tertiary-color);  
  }
  .testimonial .row:last-child .col:last-child {
    background-color: var(--light-tertiary-color); 
  }
  .other-ways {
    margin-right: -1.75em;
    border: 4px solid var(--tertiary-color);
  }
  .contact-form {
    border-radius: 0.375rem;
  }
  /* Timeline change of positioning */
  .timeline {
    padding: 10px 0;
    margin-bottom: .5rem;
  }
  .main-timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: var(--secondary-color);
    top: 0;
    bottom: 0;
    left: 50%;
    margin:auto;
  }
  .timeline::after {
    content: '';
    position: absolute;
    top: -15px;
    left: calc(50% - 10px);
    width: 25px;
    height: 25px;
    border: 4px solid var(--secondary-color);
    border-radius: 50%;
    background-color: var(--white-color);
    z-index: 1;
  }
 }
 /* media Query Nav Bar */
 /* Break point lg for bootstrap 992px below this point*/
 @media screen and (max-width: 992px)  {
  #nav-list {
    position: fixed;
    top: 0;
    right: 0;
    width: 50vw;
    max-width: 300px;
    border-radius: 65% 0 0 35%;
    padding: 75px 10px 30px;
    margin-inline-end: auto;
    background-color: var(--primary-color);
    text-align: right;
    z-index: 1;
  }
  #nav-list .nav-link {
    color: var(--white-color);
    border-style: solid;  
  }
  .nav-item { 
    align-self: self-end;
  }
}
/* Break point lg for bootstrap 992px above this point*/
 @media screen and (min-width: 992px) {
  /* Cat ears on staff images are now appear on hoover */
  .cat-ears{
    opacity: 0;
  }
  .cat-ears:hover {
    opacity: 1;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
  }
 }
/* For about us image to prevent image getting cut off */
 @media screen and (min-width:1274px) {
  .aboutus-image{
    background-size: contain;
    background-color: #fff;
 }
}